.card {
  padding: 30px;
  background: white;
  max-height: 300px;
  max-width: 300px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  box-shadow: -6px -6px 18px #74913a, 6px 6px 18px #c1f160;
}

.card img {
  height: 100%;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  min-width: 400px;
  margin: 30px;
}

@media only screen and (max-width: 950px) {
  .section {
    margin: 18px;
    min-width: 200px;
  }
}

.title {
  margin-bottom: 30px;
  color: white;
  text-align: center;
  font-size: 50px;
}

.subTitle {
  margin-bottom: 30px;
  color: white;
  font-size: 24px;
  text-align: center;
}

.newButton {
  border: none;
  margin-bottom: 30px;
  font-size: 20px;
  width: 100%;
  border-radius: 22px;
  height: 50px;
  background: linear-gradient(145deg, #8bae45, #a5cf52);
  box-shadow: 6px 6px 14px #80a040, -6px -6px 14px #b4e25a;
  color: white;
  cursor: pointer;
}

.newButton:focus {
  outline: none;
}

.valueInput {
  margin-bottom: 30px;
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 2px;
  border: none;
  border-radius: 22px;
  box-shadow: -6px -6px 18px #74913a, 6px 6px 18px #c1f160;
}

.wrapper {
  display: flex;
  align-items: center;
  color: white;
}

@media only screen and (max-width: 950px) {
  .wrapper {
    flex-direction: column;
  }
}

.label {
  z-index: 3;
  margin-bottom: 5px;
  text-align: start;
}
