.card {
  padding: 30px;
  background: white;
  border-radius: 5px;
  max-width: 400px;
}

.title {
  margin-bottom: 30px;
  color: white;
  font-size: 50px;
}

.subTitle {
  margin-bottom: 30px;
  color: white;
  font-size: 20px;
}

.newButton {
  border: none;
  background: grey;
  padding: 10px;
  margin-top: 30px;
  border-radius: 5px;
  font-size: 40px;
}

.valueInput {
  margin-top: 30px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
