.icon {
  position: fixed;
  height: 70px;
  width: 70px;
  background-color: red;
  left: 20px;
  bottom: 20px;
  border-radius: 22px;
  background: #9ac14d;
  box-shadow: -7px -7px 14px #74913a, 7px 7px 14px #c1f160;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
}

@media only screen and (max-width: 950px) {
  .icon {
    box-shadow: none;
  }
}

.icon:hover {
  box-shadow: -14px -14px 28px #74913a, 14px 14px 28px #c1f160;
}

.icon img {
  height: 50px;
  width: 50px;
}
