.icon {
  position: fixed;
  height: 70px;
  width: 70px;
  left: 20px;
  bottom: 20px;
  border-radius: 22px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
}

.twitter {
  left: 110px;
}

@media only screen and (max-width: 950px) {
  .icon {
    box-shadow: none;
  }
}

.icon img {
  height: 50px;
  width: 50px;
}
